
@{
    Layout = "_Layout";
}

@Html.Partial("../Shared/header/_header.cshtml")
<div id="content">
   @Html.Partial("ModalCadastro/ModalCadastro.cshtml")
    <div class="row-button">
        <div></div>
        <div class="content-button"><button><span class="fa fa-plus"></span>&nbsp;&nbsp;NOVO</button></div>
    </div>
    <div class="grid-content">
        <div id="cabecalho_grid">
            <div class="title_grid">Nome</div>
            <div class="title_grid" >Email</div>
            <div class="title_grid">Telefone</div>
            <div class="title_grid">Endereço</div>
            <div class="title_grid">Cidade</div>
            <div class="title_grid">Ações</div>
        </div>
        <div id="result-grid"></div>
    </div>
</div>

@Html.Partial("../Shared/footer/_footer.cshtml")

<script>

    // Seta Valores e parametros ao iniciar a pagina 
    $(document).ready(()=>{
        
        // Inicia datatable
        AppendData();
        AppendSexo();
        AppendPais();
        $("#idCliente").val(0);
        // Seta mascaras 
        $('#cmp_telefone').mask('(00) 00000-0000');

        //Inicia tooltips 
         $('[data-toggle="tooltip"]').tooltip() 
    })
        
    
    // Click event botão novo
    $(".content-button button").click(()=>{
         showModal();
    });


    // Coleta registros cadastrados para o datatable
    function AppendData(){
        $("#result-grid .tile_result_grid").remove()
        $.ajax({
            method:'GET',
            url:'Cliente/GetListaClientes',
            contentType: "application/json",
            success: (data)=> {
                 data.map((r)=>{
                    $("#result-grid").append(`
                
                    <div class="tile_result_grid">${ r.descCliente }</div>
                    <div class="tile_result_grid" >${ r.email }</div>
                    <div class="tile_result_grid">(${ r.ddd }) ${r.fone}</div>
                    <div class="tile_result_grid">${ r.endereco == null ? '' : r.endereco }</div>
                    <div class="tile_result_grid">${ r.cidade == null ? '' : r.cidade}</div>
                    <div class="tile_result_grid">
                        <span data-toggle="tooltip" data-placement="top"  onclick="UpdateCliente(${r.codCliente})" title="Editar" id="pencil-action action-datatable" class="fa fa-pencil fa-2x action-datatable"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                        <span data-toggle="tooltip" data-placement="top"  onclick="deleteCliente(${r.codCliente})"  title="Excluir" id="trash-action" class="fa fa-trash fa-2x action-datatable"></span>
                    </div>
                
                    `)});
            },
            error: (er) => {
                console.log(er);
            }
        });
    }

    function UpdateCliente(codCliente){
         $.ajax({
            method:'GET',
            url: 'Cliente/GetClienteByID?idCliente='+codCliente,
            contentType: "application/json",
                success: (data) => {
                     SetValoresForm({
                        codCliente:data.codCliente,
                        DescCliente:data.descCliente,
                        TelefoneCompleto: data.ddd + data.fone,
                        Cidade:data.cidade == null ? '' :data.cidade ,
                        CodPais:data.codPais,
                        CodSexo:data.codSexo,
                        Email:data.email,
                        Endereco:data.endereco == null ? '' : data.endereco
                    });
                   
                    showModal();
                },
                error:(er) => {
                    console.log(er);
                }
            });

    }



    function deleteCliente(codCliente){
            $.ajax({
            method:'GET',
            url: 'Cliente/DeletaCliente?id='+codCliente,
            contentType: "application/json",
                success: (data) => {
                    AppendData();
                },
                error:(er) => {
                    console.log(er);
                }
            });

    }


    var showModal = ()=>{
           $("#modal").removeAttr("hidden");
           $("#modal").removeClass("modal hide");
           $("#modal").addClass("modal");
           $("#fundo_backdrop").removeClass("backdrop hide");
           $("#fundo_backdrop").addClass("backdrop");
           $("#area-form").animate({scrollTop:'0px'})
    }

</script>